[Unit]
Description=Nardos Ml Platform
After=network.target

[Service]
ExecStart=/mnt/.venv/bin/python3 /mnt/app/main.py
Restart=always
User=root

[Install]
WantedBy=default.target